{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}OC Plateforme{% endblock %}</title>

        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('oc_core_home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('oc_core_contact') }}">Contact</a></li>
                </ul>
            </nav>
            <div id="header" class="jumbotron">

                <h1>Ma plateforme d'annonces</h1>
                <p>
                    Ce projet est propulsé par Symfony,
                    et construit grâce au MOOC OpenClassrooms et SensioLabs.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2">
                        Participer au MOOC »
                    </a>
                </p>

            </div>

            <div class="row">
                <div id="menu" class="col-md-3">
                    <h3>Les annonces</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="{{ path('oc_platform_home') }}">Annonces</a></li>
                        <li class="nav-item"><a href="{{ path('oc_platform_add') }}">Ajouter une annonce</a></li>
                    </ul>

                    <h4>Dernières annonces</h4>
                    {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
                </div>
                <div id="content" class="col-md-9">
                    {%for msg in app.session.flashbag.get("info") %}
                        <div class="alert alert-info">{{msg}}</div>
                    {% endfor %}

                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
            </footer>
        </div>

        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>